.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}




section {
  color: #fff;
  text-shadow: 3px 3px rgb(50, 50, 50, 0.5);
  background-color: #ffffffb7;
  height: 100vh;
}

.navBg {
  background-color: #26ade4;
}

.navbar-brand {
  margin-left: 1vw;
}


.navbar-links .nav-link {
  margin-right: 1.5vw;
  margin-left: 1.5vw; /* Ajusta el valor según el espaciado deseado */
}

.nav-link {
  color: #ffffff;
  margin-left: 2vw;
}

.navbar-nav .Link:hover {
  color: #ffffff;
}

.dropdown-menu {
  --bs-dropdown-color: #ffffff;
  --bs-dropdown-border: #26ade4;
  --bs-dropdown-box-shadow: none;
  background-color: #26ade4;
}

.dropdown-menu.show {
  border: none;
  color: #ffffff;
  margin-left: 1vw;
}

.dropdown-item {
  color: #ffffff;
  margin-left: 1vw;
}

.dropdown-item:active {
  color: #ffffff;
  background-color: #2a4ec5;
  opacity: 0.9;
}

.dropdown-item:hover {
  color: #ffffff;
  background-color: #2a4ec5;
  opacity: 0.9;
}
